<nav-menu></nav-menu>
<div class='container-fluid body-content'>
    <div class="jumbotron">
        <h1>Angular 2 E-Commerce Site</h1>
        <p>Developed with <a href="https://www.asp.net/core/overview">Asp.Net Core 2.0,</a> <a href="https://angular.io/">Angular 4.x.x</a> w/ <a href="https://www.typescriptlang.org/">TypeScript</a> 2, and <a href="https://www.visualstudio.com/">Visual Studio 2017</a> Enterprise Edition</p>
        <github-button [Height]="32" [Width]="32" [href]="'https://github.com/BaileyMillerSSI/AngularEComm'">View on GitHub</github-button>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
