<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3  justify-content-center" *ngFor="let product of CatalogService.products">
        <product-card [title]="product.title" [price]="product.price" [stockCount]="product.stockCount" [url]="product.url" [id]="product.id"></product-card>
    </div>
</div>

<app-saving class="row justify-content-center" [height]="300" [loading]="CatalogService.loading" [loadingText]="'Loading Catalog'" *ngIf="CatalogService.loading && CatalogService.products.length == 0"></app-saving>

<div class="row justify-content-center">
    <load-button class="margin-top margin-bot" [Hidden]="CatalogService.products.length == 0" [Disabled]="CatalogService.loading" [Content]="GetLoadingStatement()" (Click)="LoadMore()" [Animate]="CatalogService.loading"></load-button>
</div>

