.card {
    margin-bottom: 15px;
}

.card-img-top {
    background-color:lightgrey;
    cursor: pointer;
    opacity: .4;
    transition: all .2s ease-in-out;
}

    .card-img-top:hover {
        opacity: 1
    }
